{% extends 'template/base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="{{ path('add_customer',{'shop': shop}) }}">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-plus-square fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Klant <span>toevoegen</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Klant toevoegen aan klantensysteem</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="{{ path('all_customers',{'shop': shop}) }}">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-address-book fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Klanten <span></span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Facturen  / Offertes bekijken van de klant</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <a href="{{ path('calendar',{'shop': shop}) }}">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-calendar-alt fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Kalender <span></span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Kalender met geplande activiteiten</p>
                    </div>
                </div>
            </a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="{{ path('config_index') }}">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="mbr-iconfont fa-cog fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Configuration <span></span>
                            </h2>
                            <p class="mbr-fonts-style text1 mbr-text display-6">Administrator checks / aanpassingen</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

        });

    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        section {
            padding-top: 4rem;
            padding-bottom: 5rem;
            background-color: #f1f4fa;
        }

        .wrap {
            display: flex;
            background: white;
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 0.5rem;
            box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
        }

        .wrap:hover {
            background-color: #984B43;
            color: white;
        }

        .ico-wrap {
            margin: auto;
        }

        .mbr-iconfont {
            font-size: 4.5rem !important;
            color: #313131;
            margin: 1rem;
            padding-right: 1rem;
        }

        .vcenter {
            margin: auto;
        }

        .mbr-section-title3 {
            text-align: left;
        }

        h2 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .display-5 {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.4rem;
        }

        .mbr-bold {
            font-weight: 700;
        }
    </style>
{% endblock %}


