<td width="50%"><pre>{{ form_widget(form.omschrijving) }}</pre></td>
<td width="10%">{{ form_widget(form.aantal,{ 'attr': {'class': 'autoCounter'} }) }}</td>
<td width="10%">{{ form_widget(form.prijs,{ 'attr': {'class': 'autoCounter'} }) }}</td>
<td width="20%">{{ form_widget(form.totaal,{ 'attr':{'readonly':'readonly'} }) }}</td>
<td><button type="button" class="btn btn-danger remove-object btn-sm" onclick="deleteRow(this)"><i class="fas fa-minus"></i></button></td>

